h1, h3 {
    text-align: center;
    margin-top: 25px;
}

h4 {
    text-align: center;
}

h6 {
    text-align: left;
}

#income {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

#income-input {
    width: 15%;
}

.expenses-container {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

#needs, #wants, #savings {
    display: inline-block;
    width: 30%;
    border: 1px solid black;
}

#needs-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#wants-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.need-cost, .want-cost {
    width: 45%;
}

.want-name {
    width: 50%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    border: 1px solid black;
}

#results-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

#comparison-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid black;
}

#needs-results, #wants-results, #savings-results {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

#recommended-needs, #your-needs, #recommended-wants, #your-wants, #recommended-savings, #your-savings {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
}